aside {
    position: fixed;
    top: 0;
    left: -100%;
    width: 30rem;
    max-width: 80%; /* for small screens, leave an empty 20% space , very good*/
    height: 100vh;
    background-color: #f8f8f8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .26);
    transition: left .3s ease-out;
    z-index: 100;
}

:host([opened]) aside {
    left: 0;
}

header {
    padding: 1rem;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}

header button {
    padding: 1rem;
    color: #fff;
    background-color: transparent;
    font-size: 2rem;
    border: 0;
}

header button:focus {
    outline: none;
}

#tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

#tabs button {
    width: 30%;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    font: inherit;
    padding: .15rem 0;
}

#tabs button.active,
#tabs button:hover,
#tabs button:active {
    background-color: #000;
    color: #fff;
}

#tabs button {
    outline: none;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-out;
}

:host([opened]) #backdrop {
    opacity: 1;
    pointer-events: all;
}